{% block %}
    {% client %}(Do you know about|what|who|Whom|Which|When|Is|Was|Are|Were|tell me about|How|Could|Can|Will|Would|On|The) (?P<query>.*){% endclient %}
    {% response %}{% call whoIs: %query %}{% endresponse %}
{% endblock %}

