{% block %}
    {% client %}(Do you know about|what is|who is|tell me about|How many|Who was|What was|What|Which|When|How many|In which|In what) (?P<query>.*){% endclient %}
    {% response %}{% call whoIs: %query %}{% endresponse %}
{% endblock %}

